<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>IsomorphicDemo</title>
</head>
<body>
<div id="componentContainer"><%-markup%></div>
<script>
var ReactData = {
	arr: <%-JSON.stringify(arr)%>
}
</script>
<script src="/javascripts/main.js"></script>
</body>
</html>