* {margin:0;padding:0;}

body {
  font: 14px/1.6 "Microsoft Yahei",Tahoma,Verdana,Arial,Helvetica,sans-serif;
}

.cur {
	bottom: 4px;
  font-size: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.cur a {
	border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 0 4px;
  text-indent: -9999em;
  width: 8px;
}

.cur .active {
	background-color: #fff;
}